* {
    font-family: "Roboto Condensed", sans-serif !important;
    background-repeat: no-repeat;
}

/* Index Header */
.main-header {
    background-image: url(../img/index-header/planetas-del-sistema-solar.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
} 

/* Cards */
.card {
    max-width: 25rem;
    margin: 1rem;
}
.planeta {
    height: 14rem;
}

/* Footer */
.logo {
    width: 5rem;
}

/* Sol page Header */
.sol-header {
    background-image: url(../img/sol-page/sol.imagen-cerca.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

/* Pincipales planetas page Header */
.planetas-principales-header {
    background-image: url(../img/planetas-page/Solar_System.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
}