* {
    font-family: "Roboto Condensed", sans-serif !important;
    background-repeat: no-repeat;
}

/* Header */
.main-header {
    background-image: url(../img/index-header/planetas-del-sistema-solar.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
} 

/* Main */
.card {
    max-width: 25rem;
    margin: 1rem;
}

/* Footer */
.logo {
    width: 5rem;
}