* {
    font-family: "Roboto Condensed", sans-serif !important;
    background-repeat: no-repeat;
}

/* Index Header */
.main-header {
    background-image: url(../img/index-header/planetas-del-sistema-solar.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
} 

/* Index Main */
.card {
    max-width: 25rem;
    margin: 1rem;
}

/* Index Footer */
.logo {
    width: 5rem;
}

/* Sol Header */
.sol-header {
    background-image: url(../img/sol-page/sol.imagen-cerca.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}